.options {
	position: fixed;
	top: 50px;
	left: 0;
	background: #fff;
	height: auto;
	width: auto;
	@include center;
	@include headerShadow;
	z-index: 3408321764;
	padding: 20px;
	font-size: 0.9em;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #8157D7;
	transform: scaleY(0);
	transform-origin: 50% 0%;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	overflow: hidden;
	@media #{$mq-800} {
		left: initial;
		right: 500px;
		border-radius: 5px;
	}
	@media #{$mq-1070} {
		right: initial;
		left: 270px;
		top: 140px;
		transform: scaleX(0);
		transform-origin: 0% 50%;
	}
	&>button {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		background: url('cross2.svg') no-repeat center;
		background-size: 90% 90%;
		border-radius: 50%;
		border: none;
		outline: none;
		z-index: 40;
	}
	&>div {
		@include center;
		flex-direction: column;
	}
	&>.ays,
	&>.sad {
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		@include center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		text-align: center;
		transform: translateY(-100%);
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
		&>div {
			@include center;
			flex-direction: row;
			width: 100%;
			height: 30%;
			align-self: flex-end;
			&>button {
				width: 50%;
				height: 100%;
				border: none; outline: none;
				background: $redish;
				color: #fff;
			}
			&>button:last-of-type{
				background: #63DC7F;
			}
		}
	}
	&>.ays {
		justify-content: flex-end;
		&>div {
			margin-top: 10%;
		}
	}
	&>.sad{
		& h3:last-of-type {
			color: #8157D7;
		}
	}
	&>.ays-show,
	&>.sad-show{
		transform: translateY(0%);
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	& h3:last-of-type {
		color: $redish;
	}
	& h3 {
		margin: 10px auto;
		cursor: pointer;
		text-align: center;
		transform: translateY(-100%);
		opacity: 0;
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
		@media #{$mq-1070}{
			transform: translateX(-100%);
			opacity: 0;	
		}
	}
}

.options-show{
	transform: scaleY(1);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	@media #{$mq-1070}{
		transform: scaleX(1);
	}
	& h3 {
		transition-delay: 0.1s;
		transform: translateY(0%);
		opacity: 1;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		@media #{$mq-1070}{
			transform: translateX(0%);
		}
	}
}