.header {
	position: fixed;
	top: 0;
	left: 0;
	@include center;
	width: 100%;
	height: 50px;
	z-index: 90;
	@media #{$mq-800} {
		height: 80px;
	}
	&>div {
		@include center;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 0;
		@media #{$mq-800} {
			margin-top: -15px;
		}
		&>button {
			width: 27.5px;
			height: 27.5px;
			background: url('settings.svg') no-repeat center;
			background-size: contain;
			border: none;
			outline: none;
			margin-left: 7.5px;
			@media #{$mq-800} {
				display: none;
			}
		}
		&>h1 {
			@include center;
			font-weight: 200;
			color:#fff;
			font-size: 1.5em;
			text-transform: uppercase;
			z-index: 10;
			margin: 0;
			@media #{$mq-800} {
				font-size: 2em;
				margin-left: 10px;
			}
		}
		&>nav {
			display: none;
			@media #{$mq-800} {
				@include center;
				margin: 0;
			}
			&>button {
				width: 27.5px;
				height: 27.5px;
				background: url('settings.svg') no-repeat center;
				background-size: contain;
				border: none;
				outline: none;
				margin-right: 20px;
			}
			&>a {
				margin: 0 20px;
				text-transform: uppercase;
				color: #fff;
				font-size: 0.9em;
				cursor: pointer;
			}
			&>a:last-of-type {
				width: 100px;
				height: 35px;
				@include center;
				border-radius: 5px;
				margin-right: 10px;
				color: #fff;
				@include buttonShadow;
				background: #727AFF;
				font-size: 0.8em;
			}
			&>button,
			&>a:first-of-type,
			&>a:nth-of-type(2),
			&>a:nth-of-type(3), {
				@media #{$mq-1070} {
					display: none;
				}
			}
		}
	}
}
#burg {
	height: 50px;
	width: 50px;
	z-index: 10;
	@media #{$mq-800} {
		display: none;
	}
}