.create {
	position: fixed;
	top: 25%;
	left: 5%;
	height: 50%;
	width: 90%;
	background: rgba(#FFF, 1);
	@include center;
	z-index: 35;
	border-radius: 5px;
	@include headerShadow;
	transform: translate3d(0, -10%, 0) scale(0.4);
	transition-duration: 0.4s;
	opacity: 0;
	visibility: hidden;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	transform-style: preserve-3d;
	overflow: hidden;
	@media #{$mq-670} {
		top: 25%;
		left: 15%;
		height: 50%;
		width: 70%;
	}
	@media #{$mq-800} {
		overflow: initial;
	}
	@media #{$mq-890} {
		top: 25%;
		left: 25%;
		height: 50%;
		width: 50%;
	}
	@media #{$mq-957} {
		height: 300px;
		width: 450px;
		left: calc(50% - 225px);
		top: calc(50% - 150px);
	}	
	@media #{$mq-h-1024} {
		top: calc(50% - 150px);
		left: calc(50% - 225px);
		height: 300px;
		width: 450px;
	}
	&>svg {
		position: absolute;
		top: 5px;
		right: 5px;
		border-radius: 50%;
		cursor: pointer;
		height: 27.5px;
		width: 27.5px;
		transform: scale(0) rotate(360deg);
		transition-duration: 0.3s;
	}
	&>.front {
		@include center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #fff;
		border-radius: 5px;
		transition-duration: 0.4s;
		transition-delay: 0.3s;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		@media #{$mq-800} {
			backface-visibility: hidden;
			transition-duration: initial;
			transition-delay: initial;
		}
		&>h3 {
			font-weight: 300;
			margin: 0;
			margin-bottom: 25px;
			width: 80%;
			text-align: center;
			color: #666DD2;
		}
		&>.select {
			width: 80%;
			max-width: 300px;
			height: 40px;
			background: #666DD2;
			@include buttonShadow;
			@include center;
			position: relative;
			border-radius: 5px;
			flex-direction: column;
			color: #fff;
			cursor: pointer;
			&>.select-options {
				max-height: 80px;
				height: auto;
				width: 100%;
				overflow-y: scroll;
				position: absolute;
				top: 100%;
				left: 0;
				background: #fff;
				border-radius: 5px;
				@include headerShadow;
				@include center;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: wrap;
				transform: scaleY(0);
				transition-duration: 0.2s;
				transform-origin: 50% 0%;
				transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
				&>.select-option{
					height: 40px;
					padding: 0 10px;
					@include center;
				}
				&>.select-option:last-of-type {
					border-bottom: none;
				}
			}
			&>.select-options-show {
				transform: scaleY(1);
				transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}
		}
		&>button {
			border: none;
			outline: none;
			width: 120px;
			height: 40px;
			border-radius: 2.5px;
			color: #666DD2;
			margin-top: 30px;
			background: #fff;
			// border: 2px solid #666DD2;
		}
	}
	&>.back {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include center;
		flex-direction: column;
		background: #fff;
		transform: translateY(-100%);
		transition-duration: 0.4s;
		border-radius: 5px;
		transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
		@media #{$mq-800} {
			backface-visibility: hidden;
			transform: rotateY(180deg);
		}
		&>h3 {
			font-weight: 300;
			margin: 0;
			margin-bottom: 25px;
			width: 80%;
			text-align: center;
			color: #666DD2;
		}
		&>.bubble {
			width: 90%;
			max-width: 340px;
			height: 40px;
			border-radius: 22.5px;
			background: green;
			// margin-top: 30px;
			@include center;
			justify-content: space-between;
			background: #A9A0FF;
			@include buttonShadow;
			&>input {
				height: 25px;
				width: 55px;
				border: none;
				background: transparent;
				outline: none;
				border-bottom: 1px solid #fff;
				border-radius: 0;
				color: #fff;
				text-align: center;
				font-weight: 400;
			}
			&>input:first-of-type {
				margin-left: 15px;
			}
			&>input:last-of-type {
				margin-right: 15px;
			}
			&>h4 {
				color: #fff;
				font-weight: 400;
			}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #fff;
			}
			::-moz-placeholder { /* Firefox 19+ */
			  color: #fff;
			}
			:-ms-input-placeholder { /* IE 10+ */
			  color: #fff;
			}
			:-moz-placeholder { /* Firefox 18- */
			  color: #fff;
			}
		}
		&>.back-buttons {
			width: 80%;
			@include center;
			&>button {
				border: none;
				outline: none;
				width: 120px;
				height: 40px;
				border-radius: 2.5px;
				color: #666DD2;
				margin-top: 30px;
				background: #fff;
				// border: 2px solid #666DD2;
			}
			&>button:first-of-type{
				margin-right: 10px;
			}
			&>button:last-of-type{
				margin-left: 10px;
			}
		}
	}
}

.create-show {
	visibility: visible;
	transform: translate3d(0, 0, 0) scale(1);
	opacity: 1;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	&>svg {
		transform: scale(1) rotate(0deg);
		transition-delay: 0.5s;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
}

.create-flip {
	transition-duration: 0.55s;
	@media #{$mq-800}{
		transform: translate3d(0, 0%, 2px) scale(1) rotateY(-180deg);
	}
	&>.front {
		transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
		transform: translateY(100%);
		transition-delay: 0s;
		@media #{$mq-800}{
			transform: translate3d(0%, 0%, -1px);
			z-index: -1;
		}
	}
	&>.back{
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform: translateY(0);
		transition-delay: 0.3s;
		@media #{$mq-800}{
			z-index: 40;
			transform: rotateY(180deg);
		}
	}
}