.mobile-menu {
	position: fixed;
	top: 50px;
	left: 0;
	height: calc(100% - 50px);
	width: 100%;
	@include center;
	transform: scale(0.9) translateY(-20%) rotateX(40deg);
	transition-duration: 0.4s;
	opacity: 0;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	transform-origin: 50% 100%;
	perspective: 1000px;
	@media #{$mq-800} {
		display: none;
	}
	&>div {
		align-self: flex-start;
		@include center;
		flex-direction: column;
		width: 90%;
		margin-top: 5%;
		background: rgba(#fff, 0.95);
		padding: 20px 0;
		@include headerShadow;
		border-radius: 5px;
		&>a {
			text-direction: none;
			margin: 10px 0;
			font-size: 1.25em;
			font-weight: 900;
			cursor: pointer;
			color: #666DD2;
			text-transform: uppercase;
		}
		&>a:last-of-type {
			background: #666DD2;
			width: 50%;
			max-width: 300px;
			@include center;
			height: 40px;
			color: #fff;
			border-radius: 2.5px;
			@include buttonShadow;
			font-size: 1em;
		}
	}
}

.mobile-menu-show {
	transform: scale(1) translateY(0%) rotateX(0deg);
	opacity: 1;
	z-index: 2;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-delay: 0.4s;
}