.mobile-menu {
	position: fixed;
	top: 15%;
	left: 5%;
	height: 250px;
	width: 90%;
	@include center;
	z-index: 100000;
	transform: scale(1.1) translateY(-100%) rotateX(70deg);
	transition-duration: 0.4s;
	opacity: 0;
	background: rgba(#fff, 0.95);
	visibility: hidden;
	transform-origin: 50% 0%;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	@include headerShadow;
	border-radius: 5px;
	z-index: 200;
	@media #{$mq-670} {
		width: 80%;
		left: calc(50% - 250px);
		top: 15%;
		width: 500px;
	}
	@media #{$mq-800} {
		display: none;
	}
	&>div {
		@include center;
		flex-direction: column;
		width: 100%;
		&>a {
			text-direction: none;
			margin: 10px 0;
			font-size: 1.25em;
			font-weight: 900;
			cursor: pointer;
			color: #666DD2;
			text-transform: uppercase;
		}
		&>a:last-of-type {
			background: #666DD2;
			width: 50%;
			max-width: 300px;
			@include center;
			height: 40px;
			color: #fff;
			border-radius: 2.5px;
			@include buttonShadow;
			font-size: 1em;
		}
	}
}

.mobile-menu-show {
	transform: scale(1) translateY(0%) rotateX(0deg);
	opacity: 1;
	visibility: visible;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-delay: 0.1s;
}

.fixed-picker{
	position: fixed;
	top: 60px;
	left: calc(50% - 150px);
	height: 300px;
	width: 300px;
	@include center;
	z-index: 100000;
	transform: scale(1.1) translateY(-30%) rotateX(10deg);
	transition-duration: 0.4s;
	opacity: 0;
	visibility: hidden;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	@media #{$mq-670} {
		width: 350px;
		left: calc(50% - 175px);
	}
	&>h3 {
		background: transparent;
		color: #fff;
		margin: 0;
		font-weight: 200;
		margin: 10px 0;
		font-size: 1.5em;
	}
}

.date-picker-show {
	transform: scale(1) translateY(0%) rotateX(0deg);
	opacity: 1;
	visibility: visible;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-delay: 0.5s;
}

.display-date-picker-large{
	background: #565CB3;
	top: calc(50% - 150px);
	&>h3 {
		display: none;
	}
}