.my-skedges {
	max-height: calc(100% - 100px);
	height: auto;
	width: 90%;
	background: #fff;
	position: fixed;
	top: 50px;
	left: 5%;
	z-index: 300;
	// @include center;
	border-radius: 5px;
	overflow: scroll;
	@include headerShadow;
	transition-duration: 0.35s;
	transform: translateY(-60vh) scaleY(0.9);
	visibility: hidden;
	transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);	
	@media #{$mq-670} {
		width: 450px;
		left: calc(50% - 225px);
	}
	@media #{$mq-800} {
		top: 80px;
		max-height: calc(100% - 160px);
	}
	&>div {
		margin: auto;
		@include center;
		width: 100%;
		height: 100%;
		justify-content: flex-start;
		flex-direction: column;
		position: relative;
		overflow: scroll;
		&>button {
			position: fixed;
			top: 2.5px;
			right: 0;
			height: 25px;
			width: 25px;
			margin: 0;
			border: none;
			outline: none;
			background: url('cross2.svg') no-repeat center;
			background-size: contain;

		}
		&>h2 {
			font-weight: 200;
			color: #385DC1;
		}
		&>div {
			@include center;
			flex-direction: column;
			width: 100%;
			&>div {
				cursor: pointer;
				width: 100%;
				color: #385DC1;
				padding: 10px;
				font-size: 0.9em;
				text-align: center;
				padding: 15px;
				border-bottom: 1px solid #EBEBEB;
				// @include buttonShadow;
			}
			&>div:first-of-type {
				border-top: 1px solid #EBEBEB;
			}
		}
	}
}

.my-skedges-show{
	visibility: visible;
	transform: translateY(0vh) scaleY(1);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}