.dashboard {
	height: calc(100% - 50px);
	width: 100%;
	@include center;
	margin-top: 100px;
	box-shadow: -5px 10px 20px rgba(0,0,0,0.19), -5px 6px 6px rgba(0,0,0,0.23);
	z-index: 5;
	transition-duration: 0.3s;
	transform-style: preserve-3d;
	perspective: 1000px;
	transform-origin: 100% 50%;
	&::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		height: 120%;
		width: 120%;
		background: url('blur.jpg') no-repeat center;
		background-size: cover;
		z-index: -2;
		@media #{$mq-800} {
			background: none;
		}
	}
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		height: 120%;
		width: 120%;
		background: rgba(#000, 0.25);
		z-index: -1;
	}
	&>div {
		@include center;
		width: 100%;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		&>.select-week {
			@include center;
			// background: $redish;
			width: 100%;
			height: 45px;
			color: #fff;
			position: fixed;
			display: none;
			@media #{$mq-800} {
				position: static;
			}
			@media #{$mq-1070} {
				width: calc(100% - 300px);
				align-self: flex-end;
			}
			&>h2 {
				font-weight: 200;
				font-size: 1.5em;
			}
		}
		&>.days {
			// margin-top: 45px;
			width: 170%;
			@include center;
			align-self: flex-start;
			justify-content: flex-end;
			// background: #263346;
			@media #{$mq-800}{
				width: 100%;
				// margin-top: 0;
			}
			@media #{$mq-1070}{
				width: calc(100% - 300px);
				justify-content: flex-end;
				align-self: flex-end;
			}
			&>.time-header {
				align-self: flex-start;
				width: 35px;
				height: 35px;
				background: rgba(#000, 0.35) url('clock.svg') no-repeat center;
				background-size: 25px;
				box-shadow: 10px 0px 20px rgba(0,0,0,0.19), 6px 0px 6px rgba(0,0,0,0.23);
				position: fixed;
				left: 0px;
				z-index: 4;
				border-top-right-radius: 5px;
				@media #{$mq-800} {
					position: static;
					background: url('clock.svg') no-repeat center;
					box-shadow: none;
				}
			}
			&>.day {
				width: calc(14.285% - 5px);
				height: 35px;
				position: relative;
				cursor: pointer;
				&::after {	
					content: attr(data-sm);
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					@include center;
					color: #fff;
					text-transform: uppercase;
					font-weight: 900;
					font-size: 0.85em;
					z-index: 2;
					border-right: 1px solid rgba(#fff, 0.15);
					@media #{$mq-670} {
						content: attr(data-lg);
					}
				}
				// &::before {
				// 	content: "";
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	height: 90%;
				// 	width: 100%;
				// 	// background: #263346;
				// 	z-index: 1;
				// 	transition-duration: 0.2s;
				// }
				// &:hover::before {
				// 	height: 90%;
				// }
			}
			// &>.selected {
			// 	&::after {
			// 		border-right: none;
			// 		height: 100%;
			// 	}
			// 	&::before {
			// 		height: 90%;
			// 	}
			// }
		}
		&>.schedule {
			width: 170%;
			height: calc(100% - 127px);
			@include center;
			flex-direction: row;
			justify-content: flex-end;
			align-self: flex-start;
			// background: #263346;
			overflow-x: scroll;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
			
			@media #{$mq-800}{
				width: 100%;
			}
			&>.date-picker {
				display: none;
				@media #{$mq-1070} {
					@include center;
					width: 300px;
					height: 100%;
					flex-direction: column;
					color: #fff;
					margin-top: -5%;
				}
				&>h3 {
					width: 95%;
					text-align: center;
				}
				&>.buttons {
					@include center;
					flex-direction: row;
					justify-content: space-between;
					// width: 85%;
					&>button {
						padding: 10px 20px;
						background: #646FF7;
						border: none;
						outline: none;
						border-radius: 2.5px;
						font-weight: 200;
						text-transform: uppercase;
						font-size: 0.9em;
						@include buttonShadow;
					}
					&>button:first-of-type {
						margin-right: 7.5px;
					}
					&>button:last-of-type {
						margin-left: 7.5px;
					}
				}
				&>.picker{
					width: 90%;
					height: 300px;
					@include center;
					justify-content: flex-start;
					flex-direction: column;
					background: #666DD2;
					border-radius: 5px;
					@include headerShadow;
					&>.month-picker{
						width: 100%;
						// border-bottom: 1px solid #fff;
						height: 80px;
						text-transform: uppercase;
						font-weight: 900;
						background: #5B61BC;
						color: #fff;
						@include center;
						border-top-right-radius: 5px;
						border-top-left-radius: 5px;
						font-size: 0.9em;
					}
					&>.day-picker {
						@include center;
						width: 95%;
						height: 100%;
						flex-wrap: wrap;
						flex-direction: row;
						justify-content: space-between;
						overflow: scroll;
						&>div {
							cursor: pointer;
							margin: 1.5px;
							width: 30px;
							height: 30px;
							border-radius: 50%;
							background: #666DD2;
							@include center;
							color: #fff;
							font-size: 0.85em;
							position: relative;
							transition-duration: 0.3s;
							&::before {
								content: attr(data-num);
								background: #fff;
								position: absolute;
								top: 0;
								left: 0;
								height: 100%;
								width: 100%;
								border-radius: 50%;
								transform: scale(0);
								transition-duration: 0.3s;
								z-index: 2;
								@include center;
								color: #666DD2;
								font-weight: 900;
							}
							&::after {
								content: "";
								background: #fff;
								position: absolute;
								top: 0;
								left: 0;
								height: 100%;
								width: 100%;
								border-radius: 50%;
								transform: scale(0);
								transition-duration: 0.3s;
								z-index: 1;

							}
							&:hover {
								// background: #fff;
								@include headerShadow;
								color: #666DD2;
								&::after {
									transform: scale(1);
								}
								&::before {
									transform: scale(1);
								}
							}
						}
					}
				}
			}
			&>.times {
				height: calc(100% - 127px);
				width: 35px;
				@include center;
				flex-direction: column;
				justify-content: flex-start;
				border-right: 1px solid rgba(#fff, 0.05);
				position: fixed;
				// background: #263346;
				background: rgba(#000, 0.35);
				z-index: 2;
				left: 0px;
				box-shadow: 10px 0px 20px rgba(0,0,0,0.19), 6px 0px 6px rgba(0,0,0,0.23);
				@media #{$mq-800}{
					background: none;
					position: static;
					box-shadow: none;
				}
				&>.time {
					height: 9.091%;
					@include center;
					align-items: flex-start;
					flex-direction: row;
					color: #fff;
					font-size: 0.8em;
					font-weight: 200;
					position: relative;
					&::after {
						content: "";
						position :absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						background: rgba(#fff, 0.15);
						height: 1px;
						@media #{$mq-800}{
							display: none;
						}
					}
				}
			}
			&>.fullday {
				width: calc(14.285% - 5px);
				height: 100%;
				border-right: 1px solid rgba(#fff, 0.25);
				position: relative;
				// background: #263346;
				@media #{$mq-1070} {
					width: calc(((100% - 300px) / 7) - 5px);
				}
				&>.slot{
					position: absolute;
					width: 40%;
					background: #5EB0AE;
					height: 50%;
					top: 50%;
					left: 30%;
					@include center;
					border-radius: 10px;
					transform: scaleY(0);
					transform-origin: 50% 0%;
					transition: transform 0.5s;
					align-items: flex-start;
					overflow: hidden;
					cursor: pointer;
					&>p {
						color: #fff;
						transform: rotate(90deg);
						font-size: 0.7em;
						margin-top: 20px;
						@media #{$mq-670} {
							font-size: 0.85em;
						}
					}
				}
				&>.slotted {
					transform: scaleY(1);
				}
			}
			&>.fullday:nth-of-type(even) {
				// background: #293850;
			}
			&>.selected {
				background: #415D87;
			}
			&>.fullday:last-of-type {
				border-right: none;
			}
		}
	}
}

.dashboard-move{
	transform: translateX(60%) scale(0.9) rotateY(-30deg) translateZ(200px);
	overflow: hidden;
}